{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<div id="login">
    <div class="user-left">
        <img src="{% static 'img/teacher.svg' %}" alt="Professor dando aula, com frase: Saiba o que os alunos pensam sobre a sua aula.">
    </div>
    <div class="user-right">
        <p>Insira seus dados</p>

        <form method="POST" action=".">
            {% csrf_token %}
            <div class="username">
                <input type="text" class="input" name="username" placeholder="Nome de usuário" autofocus autocomplete="username" maxlength="150" required id="id_username">
            </div>
            <div class="password">
                <input type="password" class="input" name="password" placeholder="Senha" autocomplete="current-password" required id="id_password">
            </div>
            <br>
            <button type="submit" class="primary-button">Entrar</button>

        </form>

        <transition name="toast">
            <div v-bind:class="toast.class" v-if="toast.show">
                <span>Icon</span>
                <p>[[toast.title]]</p>
                <p>[[toast.message]]</p>
                <button @click="toast.show = false">Fechar</button>
            </div>
        </transition>

        <br>
        <a href="{% url 'password_reset' %}">Esqueceu a senha?</a>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    var home = new Vue({
        el: '#login',
        delimiters: ['[[', ']]'],
        data () {
            return {
                errors: '{{ form.errors }}',
                toast: {
                    class: '',
                    title: '',
                    message: '',
                    show: false,
                }
            }
        },
        mounted() {
            if (this.errors) {
                this.toast.class = 'toast-error';
                this.toast.title = 'Erro';
                this.toast.message = "Nome de usuário ou senha inválido.";

                this.toast.show = true;
            }
        }
    });
</script>
{% endblock %}
