{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<div id="login">
    <div class="user-left">
        <img src="{% static 'img/teacher.svg' %}" alt="Professor dando aula, com frase: Saiba o que os alunos pensam sobre a sua aula.">
    </div>
    <div class="user-right user-login">
        <p class="header-big white">Insira seus dados</p>

        <form method="POST" action=".">
            {% csrf_token %}
            <input type="text" class="input" name="username" placeholder="Nome de usuário" autofocus autocomplete="username" maxlength="150" required id="id_username">
            <input type="password" class="input" name="password" placeholder="Senha" autocomplete="current-password" required id="id_password">
            <button type="submit" class="primary-button">Entrar</button>

        </form>

        <p class="user-link"><a href="{% url 'password_reset' %}" class="small-link">Esqueceu a senha?</a></p>

        <transition name="toast">
            <div class="toast" v-if="toast.show">
                <div v-bind:class="toast.class">
                    <p>[[toast.title]]</p>
                    <span class="toast-close" @click="toast.show = false">&times;</span>
                </div>
                <p class="toast-message">[[toast.message]]</p>
            </div>
        </transition>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    var home = new Vue({
        el: '#login',
        delimiters: ['[[', ']]'],
        data () {
            return {
                errors: '{{ form.errors }}',
                toast: {
                    class: '',
                    title: '',
                    message: '',
                    show: false,
                }
            }
        },
        mounted() {
            if (this.errors) {
                this.toast.class = 'title-error';
                this.toast.title = 'Erro';
                this.toast.message = "Nome de usuário ou senha inválido.";

                this.toast.show = true;

                setTimeout(() => {
                    this.toast.show = false
                }, 4000)
            }
        }
    });
</script>
{% endblock %}
