{% extends 'core/loggedArea.html' %}

{% block content %}
<div id="settings">
    <div class="section-header">
        <p class="title white">Configurações</p>
        <div class="section-menu">
            <ul>
                <li class="header-big white menu-text">Altere seus dados</li>
            </ul>
        </div>
    </div>
    <div class="section-content">
        <form method="POST" action=".">
            {% csrf_token %}
            <input type="text" class="input" name="username" v-model="username" placeholder="Usuário" maxlength="150" autofocus required id="id_username" title="Insira penas letras ou números.">
            <input type="email" class="input" name="email" v-model="email" placeholder="Email" maxlength="255" required id="id_email" title="Insira um email válido.">
            <input type="password" class="input" name="password1" placeholder="Senha" autocomplete="new-password" required id="id_password1" aria-autocomplete="list" title="Mínimo de 8 caracteres. Evitar padrões comuns e semelhança com os demais campos.">
            <input type="password" class="input" name="password2" placeholder="Confirme a senha" autocomplete="new-password" required id="id_password2" title="As senhas devem ser iguais.">
            <br><br>
            <button type="submit" class="primary-button">Alterar dados</button>
        </form>
    </div>
    <transition name="toast">
        <div class="toast" v-if="toast.show">
            <div v-bind:class="toast.class">
                <p>[[toast.title]]</p>
                <span class="toast-close" @click="toast.show = false">&times;</span>
            </div>
            <p class="toast-message">[[toast.message]]</p>
        </div>
    </transition>
</div>
{% endblock %}

{% block scripts %}
<script>
    var home = new Vue({
        el: '#settings',
        delimiters: ['[[', ']]'],
        data () {
            return {
                username: '{{ form.username.value }}',
                email: '{{ form.email.value }}',
                errors: {
                    form: '{{ form.errors }}',
                    username: false,
                    email: false,
                    password: false
                },
                toast: {
                    class: '',
                    title: '',
                    message: '',
                    show: false,
                }
            }
        },
        mounted() {
            if (this.errors.form) {
                this.toast.class = 'title-error';
                this.toast.title = 'Erro';

                if (this.errors.form.includes('<li>username')) {
                    this.toast.message = "O usuário pode conter apenas letras e números.";
                } else if (this.errors.form.includes('<li>email')) {
                    this.toast.message = "Insira um email válido.";
                } else if (this.errors.form.includes('<li>password')) {
                    if (this.errors.form.includes('The two password fields didn')) {
                        this.toast.message = "As senhas devem ser iguais.";
                    } else {
                        this.toast.message = "A senha deve conter no mínimo de 8 caracteres. Evitar padrões comuns e semelhança com os demais campos.";
                    }
                }

                this.toast.show = true;

                setTimeout(() => {
                    this.toast.show = false
                }, 5000)
            }
        }
    });
</script>
{% endblock %}
