{% extends 'core/base.html' %}

{% block content %}
    <div class="register-header">
        <p class="title white">Esqueceu sua senha?</p>
        <br>
        <p class="text">Para receber instruções para a alteração de senha, insira seu email no campo abaixo.</p>
        <div class="register-form">
            <form method="POST">
                {% csrf_token %}
                <input type="email" class="input" name="email" placeholder="Email" maxlength="255" required id="id_email" title="Insira um email válido.">
                <br>
                <button type="submit" class="primary-button">Solicitar alteração de senha</button>
            </form>
        </div>
    </div>
{% endblock %}
