{% extends 'core/base.html' %}

{% block content %}
    {% if validlink %}
        <div class="register-header">
            <p class="title white">Esqueceu sua senha?</p>
            <br>
            <p class="text">Para receber instruções para a alteração de senha, insira seu email no campo abaixo.</p>
            <div class="register-form">
                <form method="POST">
                    {% csrf_token %}
                    <input type="password" class="input" name="password1" placeholder="Senha" autocomplete="new-password" required id="id_password1" aria-autocomplete="list" title="Mínimo de 8 caracteres. Evitar padrões comuns e semelhança com os demais campos.">
                    <input type="password" class="input" name="password2" placeholder="Confirme a senha" autocomplete="new-password" required id="id_password2" title="As senhas devem ser iguais.">
                    <br>
                    <button type="submit" class="primary-button">Alterar senha</button>
                </form>
            </div>
        </div>
    {% else %}
        <div class="register-header">
            <p class="title white">Link inválido</p>
            <br>
            <p class="text">O link de alteração de senha é inválido, provavelmente ele já foi usado.  Por favor, solicite novamente a alteração.</p>
        </div>
    {% endif %}
{% endblock %}
