body {
    background-color: #F4F4F7;
    font-family: 'Montserrat', sans-serif;
    color: #282828
}

.scroll {
    height: 100%;
    overflow: hidden;
}

/* ----------- Text ----------- */
.title {
    font-weight: 600;
    font-size: 20px;
}

.text {
    font-weight: 400;
    font-size: 14px;
}

.small-text {
    font-weight: 400;
    font-size: 12px;
}

.bold-medium {
    font-weight: 700;
    font-size: 12px;
}

.bold-big {
    font-weight: 700;
    font-size: 14px;
}

.header-normal {
    font-weight: 600;
    font-size: 14px;
}

.header-big {
    font-weight: 600;
    font-size: 16px;
}

.small-link {
    font-weight: 600;
    font-size: 12px;
    text-decoration: none;
    color: #455CC7;
}

.normal-link {
    text-decoration: none;
    color: #455CC7;
}

.spotlight {
    font-weight: 600;
    font-size: 24px;
}

.about-medium {
    font-weight: 500;
    font-size: 20px;
}

.about-bold {
    font-weight: 700;
    font-size: 20px;
}

/* ----------- Colors ----------- */
.white {
    color: #FFFFFF;
}

.dark-grey {
    color: #8289A6;
}

.purple {
    color: #455CC7;
}

.pink {
    color: #FC6596;
}

.green {
    color: #1ACAA0;
}

.red {
    color: #F14040;
}

/* ----------- input ----------- */
.input {
    box-sizing: border-box;
    width: 100%;
    margin: 5px 0;
    padding: 12px 20px;
    border: 2px solid #455CC7;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    outline: none;
}

.input:focus {
    border: 2px solid #FC6596;
}

.large-input {
    height: 200px;
    resize: none;
}

/* ----------- Progress Circle ----------- */
.comment {
    position: relative;
}

.progress-ring {
    z-index: 1;
    position: absolute;
    bottom: 20px;
    right: 3%;
}

.progress-ring__circle {
    transition: stroke-dashoffset 0.1s;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
}

/* ----------- Toast ----------- */
.toast {
    width: 200px;
    background-color: #333333;
    color: #ffffff;
    border-radius: 5px;
    padding: 5px 16px 14px 16px;
    position: fixed;
    z-index: 2;
    right: 5%;
    top: 80px;
    font-weight: 400;
    font-size: 12px;
}

.title-ok, .title-error {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
}

.title-ok p {
    color: #1fe6b7;
}

.title-error p {
    color: #ff4141;
}

.toast-close {
    cursor: pointer;
    padding: 8px 10px;
    font-size: 20px;
}

.toast-message {
    margin: 0;
}

.toast-enter-active, .toast-leave-active {
    transition: 1s;
}
.toast-enter {
    transform: translate(300px, 0);
}
.toast-leave-to {
    transform: translate(300px, 0);
}

/* ----------- Buttons ----------- */
.primary-button, .secondary-button {
    box-sizing: border-box;
    background-color: #FFFFFF;
    border-radius: 5px;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    font-weight: 700;
    font-size: 12px;
    margin: 4px 0;
    min-width: 130px;
    display: inline-block;
    transition-duration: 0.4s;
    cursor: pointer;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    outline: none;
}

.primary-button {
    border: 1px solid #455CC7;
    color: #455CC7;
}

.secondary-button {
    border: 1px solid #8289A6;
    color: #8289A6;
}

.primary-button:hover {
    background-color: #455CC7;
    color: #FFFFFF;
}

.secondary-button:hover {
    background-color: #8289A6;
    color: #FFFFFF;
}

.home-buttons {
    margin: 5px 0 60px 0;
}

/* ----------- Menu ----------- */

.purple-bar {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 250px;
    background-color: #455CC7;
    z-index: 1;
}

.logged-purple-bar {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 125px;
    background-color: #455CC7;
    z-index: 1;
}

.content-area {
    margin: 16px 10%;
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.menu-item ul {
    padding: 0;
}

.menu-item li {
    display: table-cell;
}

.menu-item a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 16px;
    padding: 12px 10px;
    margin: 5px;
    position: relative;
}

.menu-item a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 4px;
    left: 50%;
    position: absolute;
    background: #FC6596;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.menu-item a:hover:after {
    width: 100%;
    left: 0;
}

/* ----------- Home Page ----------- */

#home {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.home-left {
    width: 40%;
    margin: 50px 0;
}

.home-right {
    width: 50%;
    position: fixed;
    bottom: -5px;
    right: -15px;
}

@media screen and (max-width: 800px) {
    .home-right {
        display: none !important;
    }
    .home-left {
        width: 100%;
    }
    .primary-button, .secondary-button {
        min-width: 50px;
    }
}

@media screen and (max-height: 580px) {
    .home-right {
        display: none !important;
    }
}

/* ----------- Login - Register ----------- */

#login, #register {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.user-left {
    width: 60%;
}

.user-right {
    width: 40%;
    margin: 50px 0;
}

.user-login {
    margin: 100px 0;
}

.user-right input {
    width: 80%;
}

.user-right button {
    width: 80%;
    margin: 50px 0;
}

.user-left img {
    left: 0;
    bottom: 0;
    position: fixed;
    max-width: 649px;
}

.user-link {
    text-align: center;
    padding-right: 20%;
}


@media screen and (max-width: 1050px) {
    .user-left {
        display: none !important;
    }
    .user-right {
        width: 100%;
    }
    .user-login {
        margin: 60px 0;
    }
}

@media screen and (max-height: 640px) {
    .user-left {
        display: none !important;
    }
}

/* ----------- About ----------- */

#about {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.about-left {
    width: 60%;
}

.about-right {
    width: 40%;
    margin: 128px 0 20px 0;
}

.about-left img {
    left: 3%;
    top: 20%;
    position: fixed;
    width: 50%;
}

@media screen and (max-width: 800px) {
    .about-left {
        display: none !important;
    }
    .about-right {
        width: 100%;
        margin: 88px 0 20px 0;
    }
}

@media screen and (max-height: 600px) {
    .about-left {
        display: none !important;
    }
}
