{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<div id="about">
    <div class="about-left">
        <img src="{% static 'img/about.svg' %}" alt="Mulher programando em notebook.">
    </div>
    <div class="about-right">
        <p class="about-medium white">Sobre <span class="about-bold white">feedback</span></p>

        <p class="text"><span class="header-normal">feedback</span> é uma ferramenta de código aberto desenvolvida durante o TCC do curso de Engenharia de Computação da Univasf.</p>

        <p class="text"><span class="header-normal">feedback</span> utiliza o análise de sentimentos para classificar comentários de discentes em positivos e negativos, permitindo que os docentes tenham conhecimento das opiniões acerca da sua disciplina.</p>

        <p class="text">Visite-nos no <a class="header-normal normal-link" href="https://github.com/Carol111/feedback" target="_blank">GitHub</a>.</p>

        <p class="header-big purple">Caroline Carvalho Machado</p>

        <p class="text dark-gray">
            <span class="header-normal">Orientador: </span>Prof. Dr. Ricardo Argenton Ramos
            <br>
            <span class="header-normal">Co-orientador: </span>Me. Lucas Florêncio de Brito
        </p>

        <br>
        <p class="small-text">Imagens por <a class="small-link" href="https://br.freepik.com/pch-vector/2?author=10171402">pch.vector</a></p>
    </div>
</div>
{% endblock %}
