{% extends 'core/base.html' %}

{% block content %}
<p>Sobre <b>feedback</b></p>

<p><b>feedback</b> é uma ferramenta de código aberto desenvolvida durante o TCC do curso de Engenharia de Computação da Univasf.</p>

<p><b>feedback</b> utiliza o análise de sentimentos para classificar comentários de discentes sobre as aulas, permitindo que os docentes tenham conhecimento das opiniões acerca da sua disciplina.</p>

<p>Visite-nos no <a href="https://github.com/Carol111/feedback" target="_blank">GitHub</a>.</p>

<p><b>Caroline Carvalho Machado</b></p>

<p>
    <b>Orientador: </b>Prof. Dr. Ricardo Argenton Ramos
    <br>
    <b>Co-orientador: </b>Bel. Lucas Florêncio de Brito
</p>
{% endblock %}
