{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<div id="about">
    <div class="about-left">
        <img src="{% static 'img/about.svg' %}" alt="Mulher programando em notebook.">
    </div>
    <div class="about-right">
        <p>Sobre <b>feedback</b></p>

        <p><b>feedback</b> é uma ferramenta de código aberto desenvolvida durante o TCC do curso de Engenharia de Computação da Univasf.</p>

        <p><b>feedback</b> utiliza o análise de sentimentos para classificar comentários de discentes sobre as aulas, permitindo que os docentes tenham conhecimento das opiniões acerca da sua disciplina.</p>

        <p>Visite-nos no <a href="https://github.com/Carol111/feedback" target="_blank">GitHub</a>.</p>

        <p><b>Caroline Carvalho Machado</b></p>

        <p>
            <b>Orientador: </b>Prof. Dr. Ricardo Argenton Ramos
            <br>
            <b>Co-orientador: </b>Bel. Lucas Florêncio de Brito
        </p>

        <p><a href="https://br.freepik.com/pch-vector/2?author=10171402">Imagens por pch.vector - br.freepik.com</a></p>
    </div>
</div>
{% endblock %}
