{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Feedback</title>
    <link rel="shortcut icon" href="{% static 'img/logo.ico' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/vue"></script>
</head>
<body>
    <div class="scroll">
        <div class="purple-bar">
            <div class="content-area">
                <div class="header">
                    <a href="{% url 'home' %}"><img src="{% static 'img/menu_logo.svg' %}" alt="Feedback Logo"></a>
                    <div class="menu-item">
                        <ul>
                            <!-- <li><a href="{% url 'about' %}">Sobre</a></li> -->
                            {% if request.user.is_authenticated %}
                                <li><a href="{% url 'list_course' %}">Área do Professor</a></li>
                            {% else %}
                                <li><a href="{% url 'login' %}">Entrar</a></li>
                                <li><a href="{% url 'register' %}">Registrar</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
                <div class="content">
                    {% block content %}
                    {% endblock %}
                </div>
                {% block scripts %}
                {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>
