{% extends "core/base.html" %}
{% load static %}
{% block content %}
<div id="home">
    <div class="home-left">
        <p>Deixe seu feedback aqui</p>

        <form method="POST" action="">
            {% csrf_token %}
            <div class="course-code">
                <input type="text" class="input" name="course" id="id_course" v-model="course" autofocus placeholder="Insira o código da disciplina" required>
            </div>
            <div class="comment">
                <input type="text" class="input" name="text" id="id_text" v-model="text" placeholder="Deixe a sua mensagem anonimamente..." maxlength="200" required>
            </div>
            <span class="limiter">[[charactersLeft]]</span>
            <br>
            <button type="reset" class="secondary-button" @click="course = text = ''">Limpar</button>
            <button type="submit" class="primary-button">Enviar</button>
        </form>

        <transition name="toast">
            <div v-bind:class="toast.class" v-if="toast.show">
                <span>Icon</span>
                <p>[[toast.title]]</p>
                <p>[[toast.message]]</p>
                <button @click="toast.show = false">Fechar</button>
            </div>
        </transition>

        <p>Ferramenta de código aberto. Visite-nos no <a href="https://github.com/Carol111/feedback" target="_blank">GitHub</a>.</p>
    </div>
    <div class="home-right">
        <img src="{% static 'img/student.svg' %}" alt="Estudantes assistindo aula, com frase: Envie um feedback construitivo para o professor.">
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    var home = new Vue({
        el: '#home',
        delimiters: ['[[', ']]'],
        data () {
            return {
                course: '{{ form.course.value }}',
                text: '{{ form.text.value }}',
                submitStatus: '{{ success }}',
                errors: '{{ form.errors }}',
                toast: {
                    class: '',
                    title: '',
                    message: '',
                    show: false,
                }
            }
        },
        mounted() {
            if (this.course && this.text) {
                if (this.submitStatus == 'True') {
                    this.toast.class = 'toast-ok';
                    this.toast.title = 'OK';
                    this.toast.message = "Mensagem enviada!";
                    this.text = '';
                    this.course = '';
                } else if (this.errors.includes('O código informado não corresponde a nenhum curso.')) {
                    this.toast.class = 'toast-error';
                    this.toast.title = 'Erro';
                    this.toast.message = "O código informado não corresponde a nenhum curso.";
                } else {
                    this.toast.class = 'toast-error';
                    this.toast.title = 'Erro';
                    this.toast.message = "Não foi possível enviar a mensagem.";
                }
                this.toast.show = true;
            }
        },
        computed: {
            charactersLeft() {
                var characters = this.text.length,
                    limit = 200;

                return (limit - characters);
            }
        }
    });
</script>
{% endblock %}
