{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Feedback</title>
    <link rel="shortcut icon" href="{% static 'img/logo.ico' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="https://cdn.amcharts.com/lib/4/core.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/plugins/wordCloud.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/themes/frozen.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
</head>
<body>
    <div class="logged-purple-bar">
        <div class="content-area">
            <div class="header">
                <a href="{% url 'home' %}"><img src="{% static 'img/menu_logo.svg' %}" alt="Feedback Logo"></a>
                <div class="menu-item">
                    <ul>
                        <li><a href="{% url 'list_course' %}">Disciplinas</a></li>
                        <li><a href="{% url 'settings' %}">Configurações</a></li>
                        <li><a href="{% url 'logout' %}">Sair</a></li>
                    </ul>
                </div>
            </div>
            <div class="content">
                {% block content %}
                {% endblock %}
            </div>
            {% block scripts %}
            {% endblock %}
        </div>
    </div>
</body>
</html>
